html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

iframe {
  width: 1220px;
  height: 795px;
  transform: scale(0.25);
  position: relative;
  left: auto;
  top: auto;
  
}
